<header class="container-fluid bg-primary py-2 border-bottom border-white mb-5">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo" style="color: #fff;">
      <h1 class="d-inline me-3"><a href="/" class="text-light text-decoration-none">BlogNODE</a></h1>
      <a href="/categories" class="text-light text-decoration-none me-3">Categorias</a>
      <a href="/posts" class="text-light text-decoration-none">Posts</a>
    </div>
      <form action="/filter" method="POST">
        <div class="input-group">
          <input class="form-control" type="text" name="search">
          <input class="btn btn-dark fw-bold" type="submit" value="Procurar">
        </div>
      </form>
  </div>
</header>