<header class="container-fluid bg-primary py-1 border-bottom border-white">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo" style="color: #fff;">
      <h1>BlogNODE</h1>
    </div>
    <form>
      <input type="text" name="search">
      <input type="submit" value="Procurar">
    </form>
  </div>
</header>