<%- include ('./partials/headerHtml.ejs')  %>
<%- include ('./partials/header.ejs')  %>

<div class="container">
  <h2>Ultimas noticias</h2>
  <div class="row">
  
  </div>
</div>

<%- include ('./partials/footerHtml.ejs')  %>